#friends-display-link {
  margin-top: -8px;
  margin-bottom: 8px;
  padding: 12px 0px;
  display: block;
  text-align: center;
  background-color: var(--lightgray);
  color: var(--darkergray);
}

#friends-display-link i {
  color: var(--gray);
}

/* category */
.friends-screen__channel {
  margin: 24px 0px 32px;
  padding-top: 16px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--darkergray);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
}
#splash-screen i {
  font-size: 80px;
  color: var(--brown);
}
