/* header */
.more__notification {
  position: relative;
}

.more__notification__more {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: -8px;
  right: -8px;
}

/* main */
.main-screen__more {
  margin-bottom: 96px;
}
.more__comment i {
  font-size: 28px;
  color: black;
}

.more__suggestions__title {
  padding: 24px 0;
  border-top: var(--main-border);
  font-weight: 600;
}

.suggestions__icon-row {
  margin-bottom: 200px;
}

.more__suggestions__icon i {
  background-color: var(--yellow);
  color: var(--white);
  font-size: var(--font-xlarge);
  padding: 12px;
  border-radius: 10%;
}
