.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: var(--lightgray);
  border-top: 1px solid var(--gray);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  display: flex;
  position: relative;
}

.nav__link i {
  font-size: 24px;
}

.nav__notification {
  position: absolute;
  left: 16px;
  bottom: 12px;
}

.nav__notification__more {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  left: 28px;
  bottom: 22px;
}
