.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 16px;
}

.screen-header__titie {
  font-size: var(--large);
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
}
