.user-component {
  justify-content: space-between;
  margin-bottom: 32px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--darkergray);
}

.user-component__avatar {
  width: 72px;
  height: 72px;
  border-radius: var(--main-border-radius);
  margin-right: 20px;
}

.user-component__avatar--sm {
  width: 56px;
  height: 56px;
  border-radius: var(--main-border-radius);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: var(--main-border-radius);
}

.user-component__title {
  font-size: var(--font-large);
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: 500;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: var(--font-medium);
  color: var(--darkergray);
}

.user-component__subtitle i {
  color: var(--red);
}

.user-component__time {
  display: block;
  margin-bottom: 8px;
}
